
body{
	margin:0;
	color: black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	text-align: center;
	background-color: #001f3f;
	
	
}

span{
	color: red;
	font-size: 10px;
	
}
table{
	margin-left:auto;
	margin-right:auto;
}
td{
	text-align: center;
}

a{
	margin: 5px;
}

div.rt {
	
	margin-top:10px;
	margin-right:50px;

}

.form-container{
	margin: auto;
	width: 40%;
	
	padding-top:10px;
	padding-bottom: 10px;
}

